body {
	background-color: rgb(224,255,255);
	font-family: sans-serif;
}
.page-ct {
	margin: auto;
	width: 760px;
}
a {
	color: rgb(150,200,200);
	text-decoration: none;
	font-weight: bold;
}
img {
	width: 100%;
}
header {
	background: rgb(224,255,255);
	width: 100%;
	height: 76px;
	position: fixed;
	top: 0;
	left: 0;
	border-bottom: 4px solid rgb(150,200,200);
	z-index: 100;
	display: none; /*TODO remove again later*/
}
#logo{
	margin: 20px;
	float: left;
	width: 600px;
	height: 40px;
	display: block;
	text-align: left;
	padding: 10px;
	font-size: 2.5em;
	color: rgb(150,200,200);
}
nav {
	float: right;
	padding: 20px;
}
a:hover {
	display: block;
    width: auto;
    color: black;
}
ul {
	list-style: none;
	overflow: hidden;
}
li {
	display: inline-block;
	float: left;
	padding: 10px;
}
.textToInputContainer {
	margin-top: 5%;
}
.text {
	margin-left: 300px;
	width: 306px;
	font-size: 2em;
	transition: background-color 0.5s;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	border: none;
}
.leftToType {
	font-family: sans-serif;
	font-size: 26px;
	margin-left: 10px;
}
.keyboard {
	margin: auto;
	height: 25%;
	margin-top: 10px;
}
.letter {
	display: inline-block;
	width: 45px;
	height: 30px;
	text-align: center;
	padding: 0.5em 0.12em;
	margin-bottom: 0.2em;
	font-size: 1.5em;
	background-color: rgb(200, 200, 200);
	border-radius: 10px
}
.letter--hide {
	color: transparent;
	box-shadow: none !important;
}
.space {
	display: inline-block;
	width: 250px;
	height: 30px;
	margin: auto;
	margin-left: 30%;
	background-color: rgb(200, 200, 200);
}
.line2 {
	margin-left: 70px;
}
.line3 {
	margin-left: 100px;
}
.line4 {
	margin-left: 70px;
}
.rightKeyColor {
	background-color: rgb(150, 255, 150);
}
.falseKeyColor {
	background-color: rgb(255, 150, 150);
}
.nextKeyColor {
	box-shadow: 0px 0px 5px 3px rgb(0, 0, 102);
}
.counter {
	width: 90%;
	margin: auto;
	margin-top: 10px;
	padding: 5px;
    background-color: rgb(200,200,200);
    border-radius: 10px;
}
.counterTable {
	margin-top: 10px;
}
.colorLittleFingerLeft {
	background-color:  	rgb(255,0,255);
}
.colorRingFingerLeft {
	background-color: rgb(0, 153, 204);
}
.colorMiddleFingerLeft {
	background-color: rgb(0, 153, 51);
}
.colorIndexFingerLeft {
	background-color: rgb(255, 255, 102);
}
.colorIndexFingerRight {
	background-color: rgb(204, 204, 0);
}
.colorMiddleFingerRight {
	background-color: rgb(102, 255, 102);
}
.colorRingFingerRight {
	background-color: rgb(102, 153, 255);
}
.colorLittleFingerRight {
	background-color: rgb(255, 102, 153);
}
.colorBigFinger {
	background-color: rgb(255, 173, 92);
}
.keyColor {
	background-color: rgb(200, 200, 200) !important;
}
.underline {
	text-decoration: underline;
}
.fingerSet {
	margin: auto;
	width: 460px;
	height: 25%;
	margin-top: 100px;
}
.finger {
	display: inline-block;
    width: 30px;
    height: 50px;
    border-radius: 50px 50px 0 0;
    box-shadow: 10px 0px 10px rgb(100,100,100);
	padding-top: 1em;
	margin-bottom: 3px;
	margin-left: 2px;
}
.finger1 {
	height: 20px;
}
.finger2 {
	height: 40px;
}
.finger3 {
	height: 50px;
}
.finger4 {
	height: 30px;
}
.finger5 {
	height: 15px;
	margin-left: 20px;
	margin-right: 20px;
}
.levels {
	margin: auto;
	margin-top: 50px;
	width: 40%;
}
.levels div{
	display: inline-block;
	line-height: 2em;
	width: 30%;
}
.button {
	border-radius: 10px;
	cursor: pointer;
	padding: 3px;
	background-color: rgb(200, 200, 200);
}
.button:hover {
	background-color: rgb(180, 180, 180);
}
.button:active {
	background-color: rgb(160, 160, 160);
}
.leftArrow {
	width: 80px;
	height: 30px;
	text-align: center;
}
.rightArrow {
	width: 80px;
	height: 30px;
	text-align: center;
}
.currentLevel {
	height: 30px;
	width: 100px;
	text-align: center;
}